<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="XMLFilePath" value="E:\QA_Tool\QA_Tool\QA_Tool\QA_Tool.xml"></add>
    <add key="ConnectionString" value="Data Source=X;User Id=behroz;Password=X;"></add>
    <add key="ExcelSheetPath" value="E:\QA_Tool\ExcelSheets\"></add>
    <add key="GridCol1Width" value="380"></add>
  </appSettings>  
</configuration>